[MASTER]
# Use multiple processes to speed up Pylint.
jobs=1

# List of plugins (as comma separated values of python modules names) to load,
# usually to register additional checkers.
load-plugins=pylint.extensions.check_elif,
             pylint.extensions.overlapping_exceptions,
             pylint.extensions.redefined_variable_type,

# List of files to ignore.
ignore=

[MESSAGES CONTROL]

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).
enable=all

# Disable the message, report, category or checker with the given id(s).
disable=missing-docstring,
        too-few-public-methods,
        invalid-name,
        len-as-condition,
        consider-iterating-dictionary,
        no-else-return,
        consider-using-f-string,
        use-implicit-booleaness-not-comparison-to-zero, # `len(x) == 0` is way clearer than `not len(x)`.
        unspecified-encoding,  # This warning *might* make sense to actually fix, at some point?


[REPORTS]

# Set the output format. Available formats are text, parseable, colorized, json
# and msvs (visual studio).You can also give a reporter class, eg
# mypackage.mymodule.MyReporterClass.
output-format=colorized
