html {
  box-sizing: border-box;
  font-family: monospace;
}
*, :after, :before { box-sizing: inherit; }

body {
  font-size: 150%;
  padding: 1em;
  margin: auto;
  max-width: 80ch;
  background: #eeefff;
  line-height: 1.25em;
}
pre { line-height: 1em; }

a { padding: 0.5em 0; }
header a {
  display: inline-block;
  margin-bottom: 0.7em;
}

input {
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid #bbb;
  margin: 0;
}
#q { min-width: 25ch; }

.search-result { padding-bottom: 1.5em; }

code {
  background-color: #cccfff;
  padding: 0.3em;
  margin: 0 -0.3em;
}

table, tr, th, td, input { border: 1px solid #bbb; }

table {
  border-collapse: collapse;
}

tr {
  border-top: none;
  border-left: none;
  border-right: none;
}

th { font-weight: bold; }
th, td {
  border-top: none;
  border-left: none;
  border-bottom: none;
  padding: 1em;
}
th:last-child, td:last-child {
  border-right: none;
}
