body {
  font-size: 120%;
  font-family: monospace;
  padding: 1em;
  margin: auto;
  width: 80ch;
  background: #eeefff;
  line-height: 2em;
}

pre {
  line-height: 1em;
}
body header { white-space: normal; }
h1 { margin-bottom: 0; }

.search-result {
  line-height: 1em;
  padding-bottom: 1.5em;
}

.search-result .summary {

}

.search-result .tags {
  font-size: 0.8em;
}
