{% extends 'base.html' %}

{%- block content %}

<h2>About</h2>

<p>Parts Horse is an <a href="https://github.com/duckinator/parts.horse">open source</a>
   project maintained by <a href="https://github.com/duckinator">@duckinator</a>.</p>

<p>Much of the part data is derived from <a href="https://github.com/KiCad/kicad-symbols">the KiCad symbol libraries</a>, with the rest gathered from official datasheets.</p>

<p>If you would like a new part added, or discover a problem, please <a href="https://github.com/duckinator/parts.horse/issues">open an issue on GitHub</a>.</p>

{% endblock %}
