{% extends 'base.html' %}

{%- block content %}

<h2>API</h2>

<h3>Supported Response Types</h3>

<p>Parts Horse supports either JSON or HTML responses.</p>

<p>For <code>/search</code>, ensure a JSON response by having no
<code>Accept</code> header or setting it to <code>application/json</code>.</p>

<h3>Endpoints</h3>

<table>
  <tr>
    <th>Endpoint</th>
    <th>Purpose</th>
  </tr>
  <tr>
    <td><code>/search?q=:query</code></td>
    <td>Search for <code>:query</code> and return all matches.</td>
  </tr>
  <tr>
    <td><code>/parts.json</code></td>
    <td>A list of all documented parts.</td>
  </tr>
  <tr>
    <td><code>/parts/:part.json</code></td>
    <td>Information for <code>:part</code>.</td>
  </tr>
  <tr>
    <td><code>/ds/:part</code></td>
    <td>Redirects to the datasheet for <code>:part</code>. This URL is included in <code>/parts/:part</code> responses.</td>
  </tr>
</table>

{% endblock %}
