{% from 'macros.html' import link with context -%}
<!doctype html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}Parts Horse</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/application.css">
  </head>
  <body>
    <main>
      <header>
        <h1><a href="/">Parts Horse</a></h1>
        <a href="/api">API</a>&nbsp;&middot;&nbsp;<a href="/parts">Browse</a><!--
        -->&nbsp;&middot;&nbsp;<a href="/about">About</a>
        <form class="search" action="/search" method="get">
          <input type="text" id="q" name="q" value="{{ page.query }}"><!--
          --><input type="submit" value="Search">
        </form>
      </header>

{% block content %}{% endblock %}
    </main>
  </body>
</html>
