{% extends 'base.html' -%}
{% block content %}

{% if page.INCOMPLETE %}
NOTE: This page is incomplete or known to be inaccurate. To avoid providing
      invalid information, we are not showing any diagrams or explanations.

<div style="display: none;">
{% endif %}

<section class="part-info clearfix">
  <section class="summary">
    <h2>{{ page.name }} ({{ page.style }})</h2>
    <p>{{ page.summary }}</p>
    <p><a href="{{ page.datasheet }}">Datasheet</a></p>
    <!--<p class="text-small">Tags: {{ page.tags | join(', ') }}</p>-->
  </section>

  <section class="pin-diagram">
    <img src="/image?part={{ page.id }}">
    <div class="diagram-links">
      <a class="left" href="#left-pins">Left Pins</a>
      <a class="right" href="#right-pins">Right Pins</a>
    </div>
  </section>
</section>

<section class="pin-details clearfix">
  <div class="left">
    <h3 id="left-pins">Left Pins</h3>
    <table>
      <tr>
        <th>Pin</th>
        <th>Name</th>
        <th>Function(s)</th>
      </tr>
{% for pin in page.left_pin_functions %}
      <tr>
        <td>{{ pin[0] }}</td>
        <td>{{ pin[1] }}</td>
        <td>{{ pin[2] }}</td>
      </tr>
{% endfor %}
    </table>


  </div>

  <div class="right">
    <h3 id="right-pins">Right Pins</h3>
    <table>
      <tr>
        <th>Pin</th>
        <th>Name</th>
        <th>Function(s)</th>
      </tr>
{% for pin in page.right_pin_functions %}
      <tr>
        <td>{{ pin[0] }}</td>
        <td>{{ pin[1] }}</td>
        <td>{{ pin[2] }}</td>
      </tr>
{% endfor %}
    </table>
  </div>
</section>

{%- block details %}{% endblock %}


{% if page.INCOMPLETE %}
</div>
{% endif %}
{%- endblock %}
