{% extends 'base.html' -%}
{%- block content -%}

{% if response.is_html %}<pre>{% endif %}
Part:       {{ page.name }}
Summary:    {{ page.summary }}
Style:      {{ page.style }}
Datasheet:  {{ link(page.datasheet) }}
Tags:       {{ page.tags | join(', ') }}
{% if page.INCOMPLETE %}

NOTE: This page is incomplete or known to be inaccurate. To avoid providing
      invalid information, we are not showing any diagrams or explanations.

{% else -%}
{% if page.style == 'DIP' %}
           ┏━━━━━━━━┓
{%- for pins in page.pins %}
  {{ pins[0][1] | rjust(8) }} ┫{{ pins[0][0] | ljust(3) }}  {{ pins[1][0] | rjust(3) }}┣ {{ pins[1][1] | ljust(3) }}
{%- endfor %}
           ┗━━━━━━━━┛

{%- elif page.style == 'TO-92' %}

TODO: Figure out how to render TO-92 things.

{% else %}

Not sure how to render {{ page.style }} ICs.

{% endif %}

  Pin ┃  Name   ┃  Function(s)
══════┃═════════┃═════════════════════════════════════════════════
{%- for pin in page.pin_functions %}
{% if pin == "--" -%}
──────╂─────────╂─────────────────────────────────────────────────
{%- else %}  {{ pin[0] | ljust(3) }} ┃ {{ pin[1] | ljust(5) }}   ┃  {{ pin[2] }}
{%- endif %}
{%- endfor %}
{% if response.is_html %}</pre>{% endif %}

{%- block details %}{% endblock %}

{% endif %}{# page.INCOMPLETE #}
{%- endblock %}
