{% extends 'base.html' %}

{%- block content %}

<p>Can't find a part? <a href="https://github.com/duckinator/parts.horse/issues/new?title=[PART+REQUEST]+&body=Could+you+please+add+information+for+_____?">Ask us to add it.</a></p>

<p>Parts Horse is an open source project maintained by <a href="https://github.com/duckinator">@duckinator</a>.</p>
<p>The source is available on <a href="https://github.com/duckinator/parts.horse">GitHub</a>.</p>

<!--<p>Much of the part data is derived from the <a href="https://github.com/KiCad/kicad-symbols">KiCad symbol libraries</a>, with the rest gathered from official datasheets.</p>-->

{%- endblock %}
